@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  background: #f1f1f1;
}

a.butt {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  background: #0C4B33;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

a.butt:hover {
  background: #C9F0DD;
  color: #000;
}

button.butt {
  position: relative;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  background: #0C4B33;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

button.butt:hover {
  background: #C9F0DD;
  color: #000;
}

#is_active {
  background-color: seagreen;
}

.main-qs-tu-tabs {
  padding: 20px;
}

.latest-questions-section ul,
.most-answered_questions-sections ul,
.unaswered-questions-section ul,
.latest-tutorials-section ul,
.most-liked-tutorials-section ul,
.most-viewed-tutorials-section ul,
.locked-tutorials-section ul {
  list-style-type: none;
}

.latest-questions-section ul li .qt-items img,
.most-answered_questions-sections ul li .qt-items img,
.unaswered-questions-section ul li .qt-items img,
.latest-tutorials-section ul li .qt-items img,
.most-liked-tutorials-section ul li .qt-items img,
.most-viewed-tutorials-section ul li .qt-items img,
.locked-tutorials-section ul li .qt-items img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.latest-questions-section ul li .qt-items .qdetails,
.most-answered_questions-sections ul li .qt-items .qdetails,
.unaswered-questions-section ul li .qt-items .qdetails,
.latest-tutorials-section ul li .qt-items .qdetails,
.most-liked-tutorials-section ul li .qt-items .qdetails,
.most-viewed-tutorials-section ul li .qt-items .qdetails,
.locked-tutorials-section ul li .qt-items .qdetails {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.latest-questions-section ul li .qt-items .qdetails a,
.most-answered_questions-sections ul li .qt-items .qdetails a,
.unaswered-questions-section ul li .qt-items .qdetails a,
.latest-tutorials-section ul li .qt-items .qdetails a,
.most-liked-tutorials-section ul li .qt-items .qdetails a,
.most-viewed-tutorials-section ul li .qt-items .qdetails a,
.locked-tutorials-section ul li .qt-items .qdetails a {
  font-weight: bold;
  font-size: 20px;
}

#notification_listModal {
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

#notification_listModal .modal-body #mynotification_container .my_notification_list ul {
  padding: 10px;
  list-style-type: none;
}

#notifications ul {
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.267);
}

#notifications ul a {
  color: #fff !important;
}

.want_to_learn_django .django-teachers {
  border-radius: 20px;
}

.want_to_learn_django .django-teachers li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#tutocontent {
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.267);
}

.other-tutorial-list {
  list-style-type: none;
  padding: 10px;
}

.create-group-form form, .create-question-form form, .create-tutorial-form form, .create-new-group-post-form form, .note-to-all-members form {
  border-radius: 20px;
  padding: 20px;
}

p.full-group-description {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .latest-questions-section ul,
  .most-answered_questions-sections ul,
  .unaswered-questions-section ul,
  .latest-tutorials-section ul,
  .most-liked-tutorials-section ul,
  .most-viewed-tutorials-section ul,
  .locked-tutorials-section ul {
    list-style-type: none;
  }
  .latest-questions-section ul li,
  .most-answered_questions-sections ul li,
  .unaswered-questions-section ul li,
  .latest-tutorials-section ul li,
  .most-liked-tutorials-section ul li,
  .most-viewed-tutorials-section ul li,
  .locked-tutorials-section ul li {
    color: #fff;
  }
  .latest-questions-section ul li .qt-items img,
  .most-answered_questions-sections ul li .qt-items img,
  .unaswered-questions-section ul li .qt-items img,
  .latest-tutorials-section ul li .qt-items img,
  .most-liked-tutorials-section ul li .qt-items img,
  .most-viewed-tutorials-section ul li .qt-items img,
  .locked-tutorials-section ul li .qt-items img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .latest-questions-section ul li .qt-items .qdetails,
  .most-answered_questions-sections ul li .qt-items .qdetails,
  .unaswered-questions-section ul li .qt-items .qdetails,
  .latest-tutorials-section ul li .qt-items .qdetails,
  .most-liked-tutorials-section ul li .qt-items .qdetails,
  .most-viewed-tutorials-section ul li .qt-items .qdetails,
  .locked-tutorials-section ul li .qt-items .qdetails {
    background-color: rgba(0, 0, 0, 0.267);
    padding: 10px;
    border-radius: 10px;
  }
  .latest-questions-section ul li .qt-items .qdetails a,
  .most-answered_questions-sections ul li .qt-items .qdetails a,
  .unaswered-questions-section ul li .qt-items .qdetails a,
  .latest-tutorials-section ul li .qt-items .qdetails a,
  .most-liked-tutorials-section ul li .qt-items .qdetails a,
  .most-viewed-tutorials-section ul li .qt-items .qdetails a,
  .locked-tutorials-section ul li .qt-items .qdetails a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  .latest-questions-section ul li .qt-items .qdetails p,
  .most-answered_questions-sections ul li .qt-items .qdetails p,
  .unaswered-questions-section ul li .qt-items .qdetails p,
  .latest-tutorials-section ul li .qt-items .qdetails p,
  .most-liked-tutorials-section ul li .qt-items .qdetails p,
  .most-viewed-tutorials-section ul li .qt-items .qdetails p,
  .locked-tutorials-section ul li .qt-items .qdetails p {
    font-size: 12px;
  }
}

#mynav_bar_container {
  font-family: 'Lobster', cursive;
}

/* Small devices (portrait tablets and large p}hones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=djhome.css.map */