* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  background: #f1f1f1;
}

a.butt {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  background: #0C4B33;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

a.butt:hover {
  background: #C9F0DD;
  color: #000;
}

button.butt {
  position: relative;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  background: #0C4B33;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

button.butt:hover {
  background: #C9F0DD;
  color: #000;
}

.myexplore-users {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 10px;
}

.myexplore-users .explore-user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: solid 2px silver;
  padding: 20px;
  background-color: rgba(156, 156, 156, 0.295);
}

.myexplore-users .explore-user-box .user-profile-picture img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.myexplore-users .explore-user-box .user-profile-name {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.myexplore-users .explore-user-box .user-profile-name small {
  font-weight: bold;
}

@media (max-width: 500px) {
  .myexplore-users {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .myexplore-users .explore-user-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    border: solid 2px silver;
    padding: 20px;
    background-color: rgba(156, 156, 156, 0.295);
  }
  .myexplore-users .explore-user-box .user-profile-picture img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .myexplore-users .explore-user-box .user-profile-name {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
}

.explore-groups-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 10px;
}

.explore-groups-container .explore-group-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: solid 2px silver;
  padding: 10px;
  background-color: rgba(156, 156, 156, 0.295);
}

.explore-groups-container .explore-group-box .group-poster img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .explore-groups-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .explore-groups-container .explore-group-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    border: solid 2px silver;
    padding: 20px;
    background-color: rgba(156, 156, 156, 0.295);
  }
  .explore-groups-container .explore-group-box .user-profile-picture img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .explore-groups-container .explore-group-box .group-poster {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
}

.mynew-users-connect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 20px;
  gap: 1rem;
}

.mynew-users-connect .users-to-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: solid 2px silver;
  padding: 20px;
  background-color: rgba(156, 156, 156, 0.295);
}

.mynew-users-connect .users-to-connect .newuser-container {
  font-weight: bold;
}

.mynew-users-connect .users-to-connect .newuser-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .mynew-users-connect {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 20px;
    gap: 1rem;
  }
  .mynew-users-connect .users-to-connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    border: solid 2px silver;
    padding: 20px;
    background-color: rgba(156, 156, 156, 0.295);
  }
  .mynew-users-connect .users-to-connect .newuser-container {
    font-weight: bold;
  }
  .mynew-users-connect .users-to-connect .newuser-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
/*# sourceMappingURL=explore.css.map */