@import "./variables";


.home-main-container{
  height: 100vh;
  margin-top: 160px;
  padding: 20px;
  small{
    font-weight: bold;
  }
  .with-connect{
    margin-top: 50px;
  }
  h3{
    font-weight: bold;
    color: $primary_color;
    font-size: 50px;
  }
  h4{
    padding: 10px;
    font-weight: bold;
    display: none;
  }
  p{
    font-weight: bold;
    font-size: 25px;
  }
  .connect-img{
    padding: 10px;
    img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  .form-box1{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    
  }
}

form{
  .form-text {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-main-container{
    margin-top: 80px;
    height: auto;
    h4{
      display: block;
    }
    .with-connect{
      display: none;
    }
    .form-box1{
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
    }
  }
}

/* Small devices (portrait tablets and large p}hones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home-main-container{
    height: 100vh;
    margin-top: 140px;
    padding: 20px;
    small{
      font-weight: bold;
    }
    .with-connect{
      margin-top: 50px;
    }
    h3{
      font-weight: bold;
      color: $primary_color;
      font-size: 30px;
    }
    h4{
      padding: 10px;
      font-weight: bold;
      display: none;
    }
    p{
      font-weight: bold;
      font-size: 15px;
    }
    .connect-img{
      padding: 10px;
      img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
    .form-box1{
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-main-container{
    height: 100vh;
    margin-top: 130px;
    padding: 20px;
    small{
      font-weight: bold;
    }
    .with-connect{
      margin-top: 50px;
    }
    h3{
      font-weight: bold;
      color: $primary_color;
      font-size: 40px;
    }
    h4{
      padding: 10px;
      font-weight: bold;
      display: none;
    }
    p{
      font-weight: bold;
      font-size: 25px;
    }
    .connect-img{
      padding: 10px;
      img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    .form-box1{
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}