{% extends "blog/base_with_nav.html"%}
{% block title %}
All Tutorials
{% endblock %}
{% block content %}
<div class="container mt-4">
    <br>
    <h3 class="text-center mb-3">All Tutorials</h3>
    <br>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-8 mb-3">
            <ul class="list-group z-depth-1-half">
                {% for tuto in all_tutos %}
                {% if tuto.make_private == True %}
                    <li class="list-group-item" title="Sorry,this tutorial is locked by the user">
                    <div class="userimg-name">
                        <img src="{{ tuto.tutorial_author.profile.profile_pic.url }}" alt="user-profile-pic"
                            style="width:50px;height:50px;border-radius:25px;" />
                        <a href="{% url 'userprofilepost' tuto.tutorial_author.username %}" class="ml-2 text-muted font-weight-bold">{{ tuto.tutorial_author.username }}</a>
                        <br>
                    </div>
                    <div class="ml-5">
                        {% if request.user == tuto.tutorial_author %}
                            <a class="ml-2" href="{{ tuto.get_absolute_tutorial_url }}">{{ tuto.title }}</a>
                        {% else %}
                            <p class="ml-3 text-muted">{{ tuto.title }} <span class="ml-2 animated bounce"><i class="fas fa-lock"></i></span></p>
                        {% endif %}

                    </div>
                </li>
                {% else %}
                <li class="list-group-item">
                    <div class="userimg-name">
                        <img src="{{ tuto.tutorial_author.profile.profile_pic.url }}" alt="user-profile-pic"
                            style="width:50px;height:50px;border-radius:25px;" />
                        <a href="{% url 'userprofilepost' tuto.tutorial_author.username %}" class="ml-2 text-muted font-weight-bold">{{ tuto.tutorial_author.username }}</a>
                        <br>
                    </div>
                    <div class="ml-5">
                        <a class="ml-3 text-muted" href="{{ tuto.get_absolute_tutorial_url }}">{{ tuto.title }}</a>
                        <br>
                        <span class="ml-3">
                            <i class="fas fa-eye mr-2"></i>
                            {{ tuto.views }}</span>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}
