{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'blog/images/connectdjango.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/mdb.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/swiper.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/feedback_contact.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/tutorials.css'%}" type="text/css">
  
  <link rel="stylesheet" href="{% static 'blog/css/profile.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/forsvg.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/userpostprofile.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/all.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/lightbox.min.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'blog/css/animate.css'%}" type="text/css">
  <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
  
  <title>
    {% block title %}  {% endblock %}
  </title>
</head>
<body>
{% include "blog/navbar.html" %}
{% include "blog/unotification-all.html" %}

<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-sm-6 col-md-6 ml-auto mr-auto">
      {% if messages %}
      {% for message in messages %}
      <div class="animated bounce alert alert-{{ message.tags }}" style="font-weight: bold; padding: 20px;">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% block content %}


{% endblock %}

<script src="{% static 'blog/js/jquery-3.4.1.min.js'%}"></script>
<script src="{% static 'blog/js/bootstrap.min.js'%}"></script>
<script src="{% static 'blog/js/mdb.min.js'%}"></script>
<script src="{% static 'blog/js/popper.min.js'%}"></script>
<script src="{% static 'blog/js/ckeditor.js'%}"></script>
<script src="{% static 'blog/js/ajax.js'%}"></script>
<script src="{% static 'blog/js/approve_file.js'%}"></script>
<script src="{% static 'blog/js/notifications.js'%}"></script>
<script src="{% static 'blog/js/feedback_contact.js'%}"></script>
<script src="{% static 'blog/js/dtimejs.js'%}"></script>
<script src="{% static 'blog/js/jscode.js'%}"></script>

<script src="{% static 'blog/js/group_member.js'%}"></script>
<script src="{% static 'blog/js/relationships.js'%}"></script>
<script src="{% static 'blog/js/qanswer.js'%}"></script>
<script src="{% static 'blog/js/all.min.js'%}"></script>
<script src="{% static 'blog/js/lightbox-plus-jquery.min.js'%}"></script>
</body>
</html>