{% extends "blog/base_with_nav.html"%}
{% load crispy_forms_tags %}
{% block title %}
Add a blog post
{% endblock %}
{% block content%}
<div class="blog-form-container">
    <br>
    <div class="container">
        <h3 class="text-center">Add new blog post</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button type="submit" class="butt">Add</button>
            </div>
        </form>
    </div>
</div>

<script>
     CKEDITOR.replace( 'my_blog_content',
    {
        entities: false,
        basicEntities: false,
        entities_greek: false,
        entities_latin: false,
        htmlDecodeOutput:true,
    }
   );

</script>
{% endblock %}