{% load crispy_forms_tags %}
<div class="d-flex">

    <form action="{% url 'like_blog' blog.id %}" method="POST" id="like_blog_form">
        {% csrf_token %}
        {% if is_liked %}
            <button type="submit" class="butt" id="like_blog_button" value="{{ blog.id }}"><i class="fas fa-thumbs-up"></i></button>
        {% else %}
            <button type="submit" class="butt" id="like_blog_button" value="{{ blog.id }}"><i class="far fa-thumbs-up"></i></button>
        {% endif %}
    </form>
    
    <span class="ml-2 mt-1">{{ likes_count }}</span>
</div>