{% extends "blog/base_with_nav.html"%}
{% block title %}
{{ blog.title }}
{% endblock %}
{% block content%}
    <br>
    <div class="tutorial-detail-main">
        <br>
        <div class="without-comment-like-button">
          {% if blog.blog_image %}
          <div class="detail-tuto-image">
            <img src="{{ blog.blog_image.url }}" alt="">
          </div>
          {% endif %}
          <h1>{{ blog.title }}</h1>
          <br>
          <div class="tutorial-author">
            <img class="mr-1" src="{{ blog.user.profile.profile_pic.url }}" alt="" style="width:60px;height:60px;border-radius:50%;">
            <div class="other-details">
              {% if tutorial.user == request.user %}
                <a href="{% url 'profile' blog.user.username %}">{{ tutorial.user.username}}</a>
              {% else %}
                <a href="{% url 'userprofilepost' blog.user.username %}">{{ blog.user.username}}</a>
              {% endif %}
             
              <br>
              <small class="text-muted">{{ blog.date_posted|date:"M, D Y"}}</small>
            </div>
          </div>
          <br>
          <span class="tuto-content">{{ blog.content|safe }}</span>
          <br>
          <hr class="my-4">
        </div>
        <div id="like-helpful-section" >
             <div id="like_blog_section">
                {% include "blog/blog_like_form.html" %}
            </div>
        </div>
    </div>
<br>

<!-- To change the direction of the modal animation change .right class -->

<br>
{% endblock %}

