{% extends "blog/base_with_nav.html"%}
{% block title %}
Discover Chatrooms
{% endblock %}
{% block content %}

<br>
<a href="{% url 'create_chatroom' %}" class="butt">Create Room</a>
<br>
<div class="container">
    <br>
    <div class="main-chat-container">
        <div class="chat-container">
            {% for room in chatrooms %}
                <div class="room">
                    {% if room.room_logo %}
                        <img src="{{ room.room_logo.url }}">
                    {% endif %}
                    {% if request.user in room.allowed_users.all %}
                        <div class="room-details">
                            <a href="{{ room.get_absolute_room_url }}">{{ room.room_name }}</a>
                        </div>
                    {% elif request.user == room.creator %}
                        <div class="room-details">
                            <a href="{{ room.get_absolute_room_url }}">{{ room.room_name }}</a>
                        </div>
                    {% else %}
                        <div class="room-details">
                            <a href="{% url 'need-access' room.slug %}">{{ room.room_name }}</a>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}