{% extends "blog/base_with_nav.html"%}
{% load crispy_forms_tags %}
{% block title %}
Add a new room
{% endblock %}
{% block content%}
<div class="blog-form-container">
    <div class="row text-center">
        <div class="col-xs-6 col-sm-6 col-md-6 ml-auto mr-auto">
            {% if success_message %}
                <div class="animated bounce alert alert-success" style="font-weight: bold; padding: 20px;">
                  {{ success_message }}
                </div>
            {% elif error_message %}
                <div class="animated bounce alert alert-danger" style="font-weight: bold; padding: 20px;">
                  {{ error_message }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <h3 class="text-center">Create your room</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button type="submit" class="butt">Create</button>
            </div>
        </form>
        <small class="text-muted">You can only create two rooms</small>
    </div>
</div>

{% endblock %}