{% extends "blog/base_with_nav.html"%}
{% load static %}
{% block title %}
Contact Us
{% endblock %}
{% block content %}
<div class="container mt-3">
    <br>
    <h3 class="text-center mb-3">Contact Us</h3>
    <div class="main-contact-form">
            <!--  for contact form-->
        <div id="contact_form_section">
            {% include "blog/contact_form.html" %}
        </div>

        <!--  for social media links and addresses-->
        <div class="mysocial d-flex" style="padding: 20px;">
            <div class="for_our_facebook mr-4 mt-4">
                <a title="Connect with us on facebook" class="text-muted" href="https://www.facebook.com/connect.django" target="_blank">
                    <img class="mb-3" src="{% static 'blog/images/facebook.png' %}" alt="" >
                <br>
                    Connect
                </a>
            </div>
            <div class="for_our_instagram ml-4 mt-4">
                <a title="Connect with us on instagram" class="text-muted" href="https://www.instagram.com/connectdjango/" target="_blank">
                    <img class="mb-3" src="{% static 'blog/images/instagram.png' %}" alt="" >
                    <br>
                    Connect 
                </a>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}