{% extends "blog/base_with_nav.html"%}
{% block title %}
Explore New
{% endblock %}
{% load static %}
{% block content%}
<div class="container mt-3">
    <br>
    <h3 class="mb-3 text-muted text-center">Discover People</h3>
    <div class="myexplore-users">
      {% for user in not_following %}
        <div class="explore-user-box">
          <div class="user-profile-picture">
            <img class="" src="{{ user.profile.profile_pic.url }}" alt="">
          </div>
          <div class="user-profile-name">
            <h5 class="text-center">{{ user.username }}</h5>
            <small class="text-muted">New to Django Across</small>
          </div>
          <a href="{% url 'userprofilepost' user.username %}" class="butt">View Profile</a>
        </div>
      {% endfor %}
      <br>
    </div>
    <br>
    <a href="{% url 'new2dja' %}" class="butt">More</a>
    <br>
    <hr class="my-4">
    <h4 class="text-muted mb-3 text-center">Explore Groups</h4>
    <br>
    <div class="explore-groups-container">
      {% for group in groups %}
      <div class="explore-group-box">
        <div class="group-poster">
          <img class="z-depth-1-half" src="{{ group.logo.url }}"
alt="group logo">
        </div>
        <div class="group-leader">
          {% if group.group_leader == request.user %}
            <a href="{% url 'profile' request.user.username %}" class="butt mb-2">{{ group.group_leader }}</a>
            <span class="text-muted ml-2">Admin</span>
          {% else %}
        <a href="{% url 'userprofilepost' group.group_leader.username %}" class="butt mb-2">{{ group.group_leader }}</a><span class="text-muted ml-2">Group Admin</span>
          {% endif %}
        </div>
        <div class="group-name">
          <a href="{{ group.get_absolute_group_url }}" class="card-title mt-3" style="color: white;">{{ group.group_name }}</a>
        </div>
        <div class="group-members-views">
          <span class="ml-3 mt-1" title="total member in group">
            <i class="fas fa-users mr-2"></i> {{ group.members.count }}
        </span>
          <span class="ml-3 mt-1" title="total member in group">
            <i class="fas fa-eye mr-1"></i> {{ group.views }}
        </span>
        </div>
      </div>
      {% endfor %}
      <br>
      <a href="{% url 'groups' %}" class="butt">More</a>
    </div>
    
</div>
<br>
<br>
<br>

{% endblock %}