{% extends "blog/base_with_nav.html"%}
{% block title %}
Explore New
{% endblock %}
{% load static %}
{% block content%}
<div class="container mt-3">
    <br>
    <h3 class="mb-3 text-muted text-center">Discover People</h3>
    <br>
    <div class="myexplore-users">
      {% for user in not_following %}
        <div class="explore-user-box">
          <div class="user-profile-picture">
            <img class="" src="{{ user.profile.profile_pic.url }}" alt="">
          </div>

          <div class="user-profile-name">
            <small class="text-muted">{{ user.username }}</small>
            <br>
            <small class="text-muted">New to Connect</small>
          </div>
          <a href="{% url 'userprofilepost' user.username %}" class="butt">Profile</a>
        </div>
      {% endfor %}
      <br>
    </div>
    <br>
    <a href="{% url 'new2dja' %}" class="butt ml-2">More</a>
    <br>
    <hr class="my-4">
    <h4 class="text-muted mb-3 text-center">Explore Groups</h4>
    <br>
    <div class="explore-groups-container">
      {% for group in groups %}
      <div class="explore-group-box">
        <div class="group-poster">
          <img  src="{{ group.logo.url }}"
alt="group logo">
        </div>
        <br>
        <div class="group-name">
          <a href="{{ group.get_absolute_group_url }}" class="butt mt-3" style="color: white;">{{ group.group_name }}</a>
        </div>
        <br>
        <div class="group-members-views">
          <span class="ml-3 mt-1" title="total member in group">
            <i class="fas fa-users mr-2"></i> {{ group.members.count }}
        </span>
          <span class="ml-3 mt-1" title="total member in group">
            <i class="fas fa-eye mr-1"></i> {{ group.views }}
        </span>
        </div>
      </div>
      {% endfor %}
      <br>
    </div>
    <br>
    <a href="{% url 'groups' %}" class="butt ml-2">More</a>
    
</div>
<br>
<br>
<br>

{% endblock %}