{% extends "blog/base_with_nav.html"%}
{% load static %}
{% block title %}
Files in  {{ project.project_title }}
{% endblock %}
{% block content%}
<div class="container">
    <br>
    <div class="project-detail">
        <div class="project-title-owner">
            <img alt="" src="{% static 'blog/images/project.png' %}" style="width:25px;height:25px;">
            {% if request.user == project.owner %}
                <span><a href="{% url 'profile' project.owner.username %}">{{ project.owner.username }}</a></span>/ <span><a
                href="{{ project.get_absolute_project_url}}">{{ project.project_title }}</a></span>
            {% else %}
                <span><a href="{% url 'userprofilepost' project.owner.username %}">{{ project.owner.username }}</a></span>/ <span><a
                href="{{ project.get_absolute_project_url}}">{{ project.project_title }}</a></span>
            {% endif %}
            <!-- <span><a href="">{{ project.owner.username }}</a></span>/ <span><a
                href="{{ project.get_absolute_project_url}}">{{ project.project_title }}</a></span> -->
        </div>
        <br>
    </div>

    <h3>All Files</h3>
    <hr class="my-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">File</th>
            <th scope="col">Approved</th>
            <th scope="col">Approves</th>
            <th scope="col">File By</th>
            <th scope="col">Posted on</th>
        </tr>
        </thead>
        {% for pf in all_files %}
        <tbody>
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <img alt="" src="{% static 'blog/images/file.png' %}" style="width:20px;height:20px;">
                <a href="{{ pf.get_absolute_project_file }}">{{ pf.file_name }}</a>
            </td>
            <td>
                {% if pf.approved %}
                <img alt="" src="{% static 'blog/images/approved.png' %}" style="width:20px;height:20px;"> approved
                {% else %}
                <img alt="" src="{% static 'blog/images/not-approved.png' %}" style="width:20px;height:20px;"> not
                approved
                {% endif %}

            </td>
            <td>{{ pf.approves.count }} out of {{ pf.project.contributors.count }}</td>
            <td><a href="">{{ pf.user.username }}</a></td>
            <td>{{ pf.date_posted|date:"M d,Y" }}</td>
            <td>
                {% if pf.approved %}
                <img alt="" src="{% static 'blog/images/tick.png' %}" style="width:20px;height:20px;">
                {% else %}
                <img alt="" src="{% static 'blog/images/close.png' %}" style="width:15px;height:15px;">
                {% endif %}
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-circle pg-blue pt-3">
          {% if all_files.has_previous %}
            <li class="page-item "><a href="?page=1" class="page-link">First</a></li>
            <li class="page-item ">
              <a class="page-link" href="?page={{ page_range.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
      
          {% for c in all_files.paginator.page_range %}
            {% if all_files.number == c %}
              <li class="page-item active">
                <a href="?page={{ c }}" class="page-link">{{ c }}</a>
              </li>
            {% elif c > all_files.number|add:"-3" and c < all_files.number|add:"-3" %}
              {{ c }}
            {% else %}
              <li class="page-item"><a a href="?page={{ c }}" class="page-link">{{c }}</a></li>
          {% endif %}
        {% endfor %}
      
        {% if all_files.has_next %}
          <li class="page-item">
              <a href="?page={{ all_files.next_page_number }}" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item"><a href="?page={{ all_files.paginator.num_pages }}" class="page-link">Last</a></li>
        {% endif %}
        </ul>
      </nav>
</div>

{% endblock %}