<br>
<h3 class="text-center mb-3">Groups to join</h3>
<br>
<ul class="list-group z-depth-1-half groups_to_join">
  {% for group in latest_groups %}
    <li class="list-item-group d-flex">
      <div class="grposter mt-4 ml-3" >
        <img  src="{{ group.logo.url }}" alt="group logo" style="width:50px;height:50px;border-radius:50%;">
      </div>
      <div class="grname mt-4 ml-3">
        <a href="{{ group.get_absolute_group_url }}" class="text-muted">{{ group.group_name }}</a>
          <br>
          <small class="ml-3 text-muted">By
              <a href="{% url 'userprofilepost' group.group_leader.username %}" title="{{ group.group_leader }}">
              <img class="ml-1" src="{{ group.group_leader.profile.profile_pic.url }}" alt="creator of group" style="width:20px;height:20px;border-radius:50%;">
              </a>
          </small>
      </div>
    </li>
  <hr class="my-4">
  {% endfor %}
</ul>
<br>
<a href="{% url 'groups' %}" class="butt">View All</a>