{% extends "blog/base_with_nav.html"%}
{% load static %}
{% block title %}
Issues and Fixes for {{ issued_project.project_title }}
{% endblock %}
{% block content%}
<div class="container">
    <br>
    <div class="issued-project-detail">
        <div class="project-title-owner">
            <img src="{% static 'blog/images/project.png' %}" alt="" style="width:25px;height:25px;">
            <span><a href="">{{ issued_project.owner.username }}</a></span>/ <span><a href="{{ issued_project.get_absolute_project_url}}">{{ issued_project.project_title }}</a></span>
        </div>
        <br>
    </div>
    <br>

    <h3>Issues and Fixes</h3><a href="#" class="butt">Address Issue</a>
    <hr class="my-4">
    <span class="text-muted">* Addressing an issue should be short and concise,then download code edit and upload for review</span>
    <br>
    <div class="issues-fixes-lists">
        <ul class="list-group">
           {% for issue in project_with_issues %}
            <li class="list-group-item d-flex">
                <span class="text-muted mr-2 font-weight-bold">Issue Id: {{ issue.id }}</span>
                <div>
                    <a href="{{ issue.get_absolute_projectissue }}" class="issue badge badge-danger mr-2">
                    {{ issue.issue|safe }}
                        <br>
                    </a><img src="{% static 'blog/images/close.png' %}" alt="" style="width:15px;height:15px;">
                    <br>
                </div>

            </li>
            {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}