{% extends "blog/base_with_nav.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Issues and Fixes for {{ issued_project.project_title }}
{% endblock %}
{% block content%}
<div class="container">
    <br>
    <div class="issued-project-detail">
        <div class="project-title-owner">
            <img src="{% static 'blog/images/project.png' %}" alt="" style="width:25px;height:25px;">
            {% if request.user == issued_project.owner %}
                <span><a href="{% url 'profile' issued_project.owner.username %}">{{ issued_project.owner.username }}</a></span>/ <span><a
                href="{{ issued_project.get_absolute_project_url}}">{{ issued_project.project_title }}</a></span>
            {% else %}
                <span><a href="{% url 'userprofilepost' issued_project.owner.username %}">{{ issued_project.owner.username }}</a></span>/ <span><a
                href="{{ issued_project.get_absolute_project_url}}">{{ issued_project.project_title }}</a></span>
            {% endif %}
            <!-- <span><a href="">{{ issued_project.owner.username }}</a></span>/ <span><a href="{{ issued_project.get_absolute_project_url}}">{{ issued_project.project_title }}</a></span> -->
        </div>
        <br>
    </div>
    <br>

    <h3>Issues</h3><a href="#issue_form_section" class="butt">New</a>
    <hr class="my-4">
    <span class="text-muted">* Addressing an issue should be short and concise,then download code edit and upload for review</span>
    <br>
    <div class="issues_fixes_lists" id="issue_form_section">
        {% include "blog/issuing_form.html" %}
    </div>
</div>

<!-- Modal -->
{% endblock %}
