{% load crispy_forms_tags %}
<form action="{% url 'join_room' slug=room.slug %}" method="POST" id="join_room_form">
    {% csrf_token %}
    <div class="form-group">
        {% if user in pending_list %}
            <button class="butt" disabled>Pending</button>
        {% elif user in room.allowed_users.all %}
            <a href="{% url 'room_detail' room.slug %}">You are now added.Join room now</a>
        {% else %}
            <button type="submit" class="butt" id="join_room_button" value="{{ room.slug }}">Request key from {{ room.creator }}</button>
        {% endif %}
    </div>
</form>