{% load crispy_forms_tags %}
<form action="{% url 'join_room' id=group.id %}" method="POST" id="join_room_form">
    {% csrf_token %}
    <div class="form-group">
        {% if user in group.members.all %}
            <button type="submit" class="butt" id="join_group_button" value="{{ group.id }}">Exit</button>
        {% elif user in group.pending_list.all %}
            <button class="butt" disabled>Pending</button>
        {% else %}
            <button type="submit" class="butt" id="join_group_button" value="{{ group.id }}">Join</button>
        {% endif %}
    </div>
</form>