<div class="d-flex">
    {% if request.user.is_authenticated %}
    <form action="{% url 'like_tutorial' id=tutorial.id %}" method="POST" id="theForm">
        {% csrf_token %}
        {% if is_liked %}
        <button type="submit" id="like" value="{{ tutorial.id }}" name="tutorial_id" class="butt">
            <i class="fas fa-heart"></i>
        </button>
        {% else %}
        <button type="submit" id="like" value="{{ tutorial.id }}" name="tutorial_id" class="butt">
            <i class="far fa-heart"></i>
        </button>
        {% endif %}
    </form>
    {% endif %}
    <span class="ml-2 font-bold">{{ likes_count }}</span>

</div>

