{% extends "blog/base_with_nav.html"%}
{% load static %}
{% block title %}
Locked Questions
{% endblock %}
{% block content%}
{% url 'latest_questions' as latest %}
{% url 'most_answered_questions' as most %}
{% url 'unanswered_questions' as una %}

<div class="container">
  <br/><br>
  <section class="section-a">
    <a href="{% url 'latest_questions' %}" class="butt mr-3">Questions</a><a href="{% url 'latest_tutorials' %}" class="butt ml-3">Tutorials</a>
  </section>

  <br>
  <section class="section-b">
    <a {% if request.path == latestt %} id="is_active"{% endif %}  class="butt mr-3" href="{% url 'latest_tutorials' %}">Latest</a>
    <a {% if request.path == mostv %} id="is_active"{% endif %}  class="butt mr-3" href="{% url 'most_viewed_tutorials' %}">Most Viewed</a>
    <a {% if request.path == locked %} id="is_active"{% endif %}  class="butt" href="{% url 'loked_tutorials' %}">Locked<i class="fas fa-lock ml-2"></i></a>
  </section>
<section class="section-c">
      <div class="my-section">
        <ul class="list-group">
          {% for lq in private_tutorials %}
          <li class="list-group-item">
            <div class="qt-items">
              {% if lq.tutorial_author == request.user %}
              <a title="{{ lq.tutorial_author.username }}" href="{% url 'profile' lq.tutorial_author.username %}"
                ><img class="mr-3 z-depth-1-half" src="{{ lq.tutorial_author.profile.profile_pic.url }}" alt=""></a
              >
              {% else %}
              <a title="{{ lq.tutorial_author.username }}" href="{% url 'userprofilepost'  lq.tutorial_author.username %}"
                ><img class="mr-3 z-depth-1-half" src="{{ lq.tutorial_author.profile.profile_pic.url }}" alt=""></a
              >
              {% endif %}
              
              <div class="qdetails">
                <a class="text-muted" href="{{ lq.get_absolute_url }}">{{ lq.question }}</a>
                <p>{{ lq.q_description|slice:"200"|safe }}</p>
                <br>
                <small class="text-muted"><i class="fas fa-eye mr-2"></i>{{ lq.views }}</small> |
                <small class="text-muted ml-1">{{ lq.date_posted|date:"M d Y" }}</small>
              </div>
            </div>
          </li>
          <br>
          {% endfor %}
        </ul>
        <br>
        
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-circle pg-blue pt-3">
            {% if private_tutorials.has_previous %}
              <li class="page-item "><a href="?page=1" class="page-link">First</a></li>
              <li class="page-item ">
                <a class="page-link" href="?page={{ page_range.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
            {% endif %}
        
            {% for c in private_tutorials.paginator.page_range %}
              {% if private_tutorials.number == c %}
                <li class="page-item active">
                  <a href="?page={{ c }}" class="page-link">{{ c }}</a>
                </li>
              {% elif c > private_tutorials.number|add:"-3" and c < private_tutorials.number|add:"-3" %}
                {{ c }}
              {% else %}
                <li class="page-item"><a a href="?page={{ c }}" class="page-link">{{c }}</a></li>
            {% endif %}
          {% endfor %}
        
          {% if private_tutorials.has_next %}
            <li class="page-item">
                <a href="?page={{ private_tutorials.next_page_number }}" class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item"><a href="?page={{ private_tutorials.paginator.num_pages }}" class="page-link">Last</a></li>
          {% endif %}
          </ul>
        </nav>
      </div>
  <div class="django-teachers-section">
      <h3 class="mb-2 text-center">Want to learn Django?</h3>
    <br>
    <ul class="list-group django-teachers z-depth-1-half">
      <li class="list-group-item">
        <img class="mr-3" src="{% static 'blog/images/corey.jpg' %}" alt="" />
        <a class="text-muted" href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p" target="_blank">Corey Schafer</a>
        <i
          style="
            background-color: green;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-weight: bold;
            font-size: 20px;
          "
          class="fas fa-check"
        ></i>
      </li>
      <li class="list-group-item">
        <img class="mr-3" src="{% static 'blog/images/pp.jpg' %}" alt="" />
        <a class="text-muted" href="https://www.youtube.com/playlist?list=PLXmMXHVSvS-DQfOsQdXkzEZyD0Vei7PKf" target="_blank">Prettt Printed</a>
        <i
          style="
            background-color: green;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-weight: bold;
            font-size: 20px;
          "
          class="fas fa-check"
        ></i>
      </li>
      <li class="list-group-item">
        <img class="mr-3" src="{% static 'blog/images/justdjango.jpg' %}" alt="" />
        <a class="text-muted" href="https://www.youtube.com/playlist?list=PLLRM7ROnmA9HEta6gV4j4h2WfmIOC23EH" target="_blank">Just Django</a>
        <i
          style="
            background-color: green;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-weight: bold;
            font-size: 20px;
          "
          class="fas fa-check"
        ></i>
      </li>
      <li class="list-group-item">
        <img class="mr-3" src="{% static 'blog/images/coding.jpg' %}" alt="" />
        <a
          href="https://www.youtube.com/playlist?list=PLEsfXFp6DpzTD1BD1aWNxS2Ep06vIkaeW"
          target="_blank" class="text-muted"
          >CodingEntrepreneurs</a
        >
        <i
          style="
            background-color: green;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-weight: bold;
            font-size: 20px;
          "
          class="fas fa-check"
        ></i>
      </li>
      <li class="list-group-item">
        <img class="mr-3" src="{% static 'blog/images/abi.jpg' %}" alt="" />
        <a
          href="https://www.youtube.com/playlist?list=PLKILtxhEt4-RT-GkrDkJDLuRPQfSK-6Yi"
          target="_blank" class="text-muted"
          >Abhishek Verma</a
        >
        <i
          style="
            background-color: green;
            color: white;
            border-radius: 50%;
            padding: 5px;
            font-weight: bold;
            font-size: 20px;
          "
          class="fas fa-check"
        ></i>
      </li>
    </ul>
    <br>
    <hr class="my-4">
    {% include "blog/groups_to_join.html" %}
  </div>

</section>

<div id="results_section">
  {% include "blog/search_list.html" %}
</div>

{% endblock %}
