{% load crispy_forms_tags %}

<div class="main-feedback-container">
    <br>
    <form action='.' id="feedback_form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form|crispy }}
        </div>
        <div class="form-group">
            <button class="butt" type="submit">Send</button>
        </div>
    </form>
    <hr class="my-4">
    <br>
    <div class="myfeed-backs">
        {% for feedback in all_feedbacks %}
        <div class="feed-box">
            <!--user image -->
            <div class="feed-user-image">
                <img alt="" src="{{ feedback.user.profile.profile_pic.url }}">
                <div class="feedback">
                    <p>{{ feedback.feedback }}</p>
                    <small class="text-muted">{{ feedback.date_posted|date:"M D Y"}}</small>
                </div>
            </div>
        </div>
        <br>
        <hr class="my-4">
        {% endfor %}
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-circle pg-blue pt-3">
                {% if all_feedbacks.has_previous %}
                <li class="page-item "><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item ">
                    <a aria-label="Previous" class="page-link" href="?page={{ page_range.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}

                {% for c in all_feedbacks.paginator.page_range %}
                {% if all_feedbacks.number == c %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ c }}">{{ c }}</a>
                </li>
                {% elif c > all_feedbacks.number|add:"-3" and c < all_feedbacks.number|add:"-3" %}
                {{ c }}
                {% else %}
                <li class="page-item"><a a class="page-link" href="?page={{ c }}">{{c }}</a></li>
                {% endif %}
                {% endfor %}

                {% if all_feedbacks.has_next %}
                <li class="page-item">
                    <a aria-label="Next" class="page-link" href="?page={{ all_feedbacks.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ all_feedbacks.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
</div>


