{% extends "blog/base_with_nav.html"%}
{% block title %}
New to Connectdjango
{% endblock %}
{% load static %}
{% block content%}
<div class="container mt-3">
    <br>
    <h3 class="mb-3 text-muted text-center">New to Connectdjango</h3>
    <div class="mynew-users-connect">
        {% for user in not_following %}
        <div class="users-to-connect">
            <div class="newuser-container">
                <img class=" mb-2" src="{{ user.profile.profile_pic.url }}" alt="user photo">
                <br>
                <a class="text-muted" href="{% url 'userprofilepost' user.username %}">{{ user.username }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>

{% endblock %}