{% extends "blog/base_with_nav.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{ project.project_with_issue.project_title }}
{% endblock %}
{% block content%}
<div class="container">
    <br>
    <div class="project-detail">
        <div class="project-title-owner">
            <img src="{% static 'blog/images/project.png' %}" alt="" style="width:25px;height:25px;">
            <span><a href="">{{ project.project_with_issue.owner.username }}</a></span>/ <span><a href="{{ project.get_absolute_project_url}}">{{ project.project_with_issue.project_title }}</a></span>
        </div>
        <br>
    </div>
</div>

{% endblock %}