{% extends "blog/base_with_nav.html"%}
{% block title %}
Projects for you
{% endblock %}
{% load static %}
{% block content%}
<div class="container">
    <br>
    <h3 class="">Latest Projects And All</h3>
    <div class="project-container">
        {% for project in projects %}
            <div class="project-list">
                <img src="{% static 'blog/images/project.png' %}" alt="" style="width:25px;height:25px;">
                <div>
                    <a href="{{ project.get_absolute_project_url }}">{{ project.project_title }}</a>
                    <br>
                    <span class="text-muted">{{ project.contributors.count }} contributors</span>
                    <span class="text-muted">status {{ project.project_status }}</span>
                    <span class="text-muted"><i class="fas fa-eye"></i> {{ project.views }}</span>
                    <span class="text-muted">created on: {{ project.date_created|date:"M D d,Y" }}</span>
                </div>
            </div>
        {% endfor %}
        <br>
        <nav aria-label="Page navigation example">
              <ul class="pagination pagination-circle pg-blue pt-3">
                {% if projects.has_previous %}
                  <li class="page-item "><a href="?page=1" class="page-link">First</a></li>
                  <li class="page-item ">
                    <a class="page-link" href="?page={{ page_range.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% endif %}

                {% for c in projects.paginator.page_range %}
                  {% if projects.number == c %}
                    <li class="page-item active">
                      <a href="?page={{ c }}" class="page-link">{{ c }}</a>
                    </li>
                  {% elif c > projects.number|add:"-3" and c < projects.number|add:"-3" %}
                    {{ c }}
                  {% else %}
                    <li class="page-item"><a a href="?page={{ c }}" class="page-link">{{c }}</a></li>
                {% endif %}
              {% endfor %}

              {% if projects.has_next %}
                <li class="page-item">
                    <a href="?page={{ projects.next_page_number }}" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li class="page-item"><a href="?page={{ projects.paginator.num_pages }}" class="page-link">Last</a></li>
              {% endif %}
              </ul>
            </nav>
    </div>
<!-- statistics -->
    <div class="stats_section">
        <span>Projects: {{ tprojects }}</span>
        <br>
        <span>Issues: {{ all_issues }}</span>
        <br>
        <span>Users: {{ users.count }}</span>
    </div>
</div>
{% endblock %}