{% extends "blog/base_with_nav.html"%}
{% load static %}
{% block title %}
{{ project_file.file_name }}
{% endblock %}
{% block content%}
<div class="container">
    <br>
    <div class="project-detail">
        <div class="project-title-owner">
            <img src="{% static 'blog/images/project.png' %}" alt="" style="width:25px;height:25px;">
            <span><a href="">{{ project_file.project.owner.username }}</a></span>/ <span><a href="{{ project_file.project.get_absolute_project_url}}">{{ project_file.project.project_title }}</a></span>
        </div>
        <br>
    </div>
    <div id="approve_file_section">
        {% if request.user in project_file.project.contributors.all %}
            {% include "blog/approve_file.html" %}
        {% endif %}
    </div>
    <hr class="my-4">
    <h3>{{ project_file.file_name }}</h3>
    {{ project_file.code|safe }}
    <hr class="my-4">
    <br>
    <br>
</div>
{% endblock %}