{% extends "blog/base_with_nav.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{ project.project_title }}
{% endblock %}
{% block content%}
<div class="container">
    <br>
    <div class="project-detail">
        <div class="project-title-owner">
            <img src="{% static 'blog/images/project.png' %}" alt="" style="width:25px;height:25px;">
            <span><a href="">{{ project.owner.username }}</a></span>/ <span><a href="{{ project.get_absolute_project_url}}">{{ project.project_title }}</a></span>
        </div>
        <br>
    </div>
    <br>
    {% include "blog/inproject-nav.html" %}
    <h3>Approved files</h3>
    <hr class="my-4">
    <br>

    <table class="table table-striped">
        {% for pf in project_files %}
            {% if pf.approved %}
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">File</th>
                  <th scope="col">Approves</th>
                  <th scope="col">File By</th>
                  <th scope="col">Last Updated</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>
                      <img src="{% static 'blog/images/file.png' %}" alt="" style="width:20px;height:20px;">
                      <a href="{{ pf.get_absolute_project_file }}">{{ pf.file_name }}</a>
                  </td>
                  <td>{{ pf.approves.count }} out of {{ pf.project.contributors.count }}</td>
                  <td><a href="">{{ pf.user.username }}</a></td>
                  <td>{{ pf.date_posted|date:"M d,Y" }}</td>
                  <td><img src="{% static 'blog/images/tick.png' %}" alt="" style="width:20px;height:20px;"></td>
                </tr>
              </tbody>
            {% endif %}
        {% empty %}
            <p class="text-muted">No approved files yet.</p>
        {% endfor %}
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="addnewfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add or upload a file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="post">
              {% csrf_token %}
              <div class="form-group">
                  {{ form|crispy }}
              </div>
              <div class="form-group">
                  <button type="submit" class="butt">Add</button>
              </div>
          </form>
          <br>
          <small class="text-muted">Note that your file or code would be reviewed before added to main container.</small>
      </div>
    </div>
  </div>
</div>
<script>
     CKEDITOR.replace( 'project_file_code',
    {
        entities: false,
        basicEntities: false,
        entities_greek: false,
        entities_latin: false,
        htmlDecodeOutput:true,
    }
   );
</script>
{% endblock %}
<!-- Button trigger modal -->
