{% extends "blog/base_with_nav.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{ project.project_title }}
{% endblock %}
{% block content%}
<div class="container">
    <br>
    <div class="project-detail">
        <div class="project-title-owner">
            <img alt="" src="{% static 'blog/images/project.png' %}" style="width:25px;height:25px;">
            <span><a href="">{{ project.owner.username }}</a></span>/ <span><a
                href="{{ project.get_absolute_project_url}}">{{ project.project_title }}</a></span>
        </div>
        <br>
    </div>
    <br>
    {% include "blog/inproject-nav.html" %}
    <div class="d-flex">
        <span class="font-weight-bold">Approved files</span>

    </div>
    <hr class="my-4">
    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">File</th>
            <th scope="col">Approves</th>
            <th scope="col">File By</th>
            <th scope="col">Last Updated</th>
        </tr>
        </thead>
        {% for pf in project_files %}
        {% if pf.approved %}
        <tbody>
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <img alt="" src="{% static 'blog/images/file.png' %}" style="width:20px;height:20px;">
                <a href="{{ pf.get_absolute_project_file }}">{{ pf.file_name }}</a>
            </td>
            <td>{{ pf.approves.count }} out of {{ pf.project.contributors.count }}</td>
            <td><a href="">{{ pf.user.username }}</a></td>
            <td>{{ pf.date_posted|date:"M d,Y" }}</td>
            <td><img alt="" src="{% static 'blog/images/tick.png' %}" style="width:20px;height:20px;"></td>
        </tr>
        </tbody>
        {% endif %}
        {% empty %}
        <p class="text-muted">No approved files yet.</p>
        {% endfor %}
    </table>
    <br>

    {% if project_files %}
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-circle pg-blue pt-3">
            {% if project_files.has_previous %}
            <li class="page-item "><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item ">
                <a aria-label="Previous" class="page-link" href="?page={{ page_range.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            {% for c in project_files.paginator.page_range %}
            {% if project_files.number == c %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ c }}">{{ c }}</a>
            </li>
            {% elif c > project_files.number|add:"-3" and c < project_files.number|add:"-3" %}
            {{ c }}
            {% else %}
            <li class="page-item"><a a class="page-link" href="?page={{ c }}">{{c }}</a></li>
            {% endif %}
            {% endfor %}

            {% if project_files.has_next %}
            <li class="page-item">
                <a aria-label="Next" class="page-link" href="?page={{ project_files.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ project_files.paginator.num_pages }}">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <br>

</div>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="addFileModal" class="modal fade" id="addnewfileModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFileModal">Add or upload a file</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form|crispy }}
                    </div>
                    <div class="form-group">
                        <button class="butt" type="submit">Add</button>
                    </div>
                </form>
                <br>
                <small class="text-muted">Note that your file or code would be reviewed before added to main
                    container.</small>
            </div>
        </div>
    </div>
</div>

<!-- address project issue modal -->
<div aria-hidden="true" aria-labelledby="addressProjectIssueModal" class="modal fade" id="addressissueModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressProjectIssueModal">Address an issue</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ issue_form|crispy }}
                    </div>
                    <div class="form-group">
                        <button class="butt" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
     CKEDITOR.replace( 'project_file_code',
    {
        entities: false,
        basicEntities: false,
        entities_greek: false,
        entities_latin: false,
        htmlDecodeOutput:true,
    }
   );
    CKEDITOR.replace( 'issue_code',
    {
        entities: false,
        basicEntities: false,
        entities_greek: false,
        entities_latin: false,
        htmlDecodeOutput:true,
    }
   );


</script>
{% endblock %}

