{% extends "blog/base_with_nav.html"%}
{% load static %}
{% block title %}
{{ project_file.file_name }}
{% endblock %}
{% block content%}
<div class="container">
    <br>
    <div class="project-detail">
        <div class="project-title-owner">
            <img src="{% static 'blog/images/project.png' %}" alt="" style="width:25px;height:25px;">
            <span><a href="">{{ project_file.project.owner.username }}</a></span>/ <span><a href="{{ project_file.project.get_absolute_project_url}}">{{ project_file.project.project_title }}</a></span>
        </div>
        <br>
    </div>
    <div class="d-flex">
        <div id="approve_file_section">
            {% if request.user in project_file.project.contributors.all or request.user == project_file.project.owner %}
                {% include "blog/approve_file.html" %}
            {% endif %}
        </div>
        {% if request.user == project_file.user %}
            <div class="ml-3">
                <a href="{% url 'file_update' project_file.id %}" class="butt">Update file</a><br>
                <small class="text-muted">You only can edit this file.</small>
            </div>
        {% endif %}

    </div>

    <hr class="my-4">
    <h3>{{ project_file.file_name }}</h3>
    {{ project_file.code|safe }}
    <hr class="my-4">
    <br>
    <br>
</div>
{% endblock %}