{% extends "blog/base_with_nav.html"%}
{% block title %}
{{ question.question }}
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4 mb-4">
  <br>
  <div class="qdetail-section">
    <div class="qsection-a">
      <div class="question-header-with-image">
        <span class="mr-2">
          <h4>{{ question.question }}</h4>
          <div class="d-flex">
            <span class="text-muted">views {{ question.views }}</span>
            <span class="text-muted ml-3">Asked on {{ question.date_posted|date:"M D Y" }}</span>
          </div>
        </span>
      </div>
      <hr class="my-4">
      <p>{{ question.q_description|safe }}</p>

        <div class="main-answer-section mb-3">
            <br>
            {% include "blog/answer_form.html" %}
        </div>
      <br>
    </div>
    <div class="other-questions">
      <br>
      <h4 class="">Other Questions</h4>
      <br>
      <ul class="list-group">
        {% for oq in other_questions %}
          <li class="list-group-item">
            <a class="text-muted" href="{{ oq.get_absolute_url }}">{{oq.question}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<br>

{% endblock %}


