{% extends "blog/base_with_nav.html"%}
{% block title %}
Post question
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
  <br>
  <h3 class="text-center mb-3">What's your question</h3>
  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 mr-auto ml-auto">
      <div class="create-question-form">
        <form method="post" id="theform" enctype="multipart/form-data" class="z-depth-1-half">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form|crispy}}
          </fieldset>
          <div class="form-group">
            <button class="butt" id="question_form_but" type="submit">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
</div>
<br>
<br>

<script>
  CKEDITOR.replace( 'id_q_description',
    {
        entities: false,
        basicEntities: false,
        entities_greek: false,
        entities_latin: false,
        htmlDecodeOutput:true,
    }
   );
</script>
{% endblock %}