{% extends 'blog/base_with_nav.html' %}
{% load static %}
{% block title %}
Room-{{ room.room_name }}
{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static 'blog/js/reconnecting-websocket.min.js'%}"></script>
<div class="rooms">
    <div class="display-all-rooms">
        <br>
        <span class="text-center font-weight-bold">Other Rooms</span>
        <hr class="my-4">
        {% for room in chatrooms %}
            {% if room.is_active %}
                <div class="room">
                    {% if request.user in room.allowed_users.all %}
                        <div class="room-details">
                            <div class="room-logo">
                                {% if room.room_logo %}
                                    <img src="{{ room.room_logo.url }}">
                                {% endif %}
                            </div>
                            <a href="{{ room.get_absolute_room_url }}">
                                {{ room.room_name }}
                                | <span class="text-muted badge badge-success">Active</span>
                            </a>
                        </div>
                    {% elif request.user == room.creator %}
                        <div class="room-details">
                            <div class="room-logo">
                                {% if room.room_logo %}
                                    <img src="{{ room.room_logo.url }}">
                                {% endif %}
                            </div>
                            <a href="{{ room.get_absolute_room_url }}">
                                {{ room.room_name }}
                                | <span class="text-muted badge badge-success">Active</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="room-details">
                            <div class="room-logo">
                                {% if room.room_logo %}
                                    <img src="{{ room.room_logo.url }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'need-access' room.slug %}">
                                {{ room.room_name }}
                                | <span class="text-muted badge badge-success">Active</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
            <div class="room">
                <div class="room-details">
                    <div class="room-logo">
                        {% if room.room_logo %}
                            <img src="{{ room.room_logo.url }}">
                        {% endif %}
                    </div>
                    <a title="Room is not active at the moment">{{ room.room_name }}
                        | <span class="text-muted badge badge-danger">Not Active</span> </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="show-room-messages-section">
        <div class="for-creator">
            {% if room.creator == request.user %}
                <a href="{% url 'update_chatroom' room.slug %}" class="butt">Edit Room</a>
                <a href="" data-toggle="modal" data-target="#addnewmembersModal" class="butt">Add members</a>
                <a href="" data-toggle="modal" data-target="#pending_members_modal" class="butt">Pending Users<span class='badge badge-danger ml-2 animated jello infinite' id="pending_member_count">{{ pending_count }}</span></a>
                <small class="text-muted">You can only see this.</small>
            {% endif %}
            {% if room.creator == request.user %}
                <a href="" data-toggle="modal" data-target="#members_in_room" class="butt" style="float:right;">Members in room</a>
            {% else %}
                <a href="" data-toggle="modal" data-target="#members_in_room" class="butt">Members in room</a>
            {% endif %}
        </div>

<div class="main-chat-section">
    <div class="mychat-section">
        <div id="show-my-messages">

        </div>
        <div class="input-holder">
            <input id="chat-message-input" type="text" >
        </div>
        <input id="chat-message-submit" type="button" value="Send">
    </div>
</div>
    </div>
</div>

{{ room_name|json_script:"room-name" }}
<script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var username = {{ username }}
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function (e) {
            fetchMessages()

        }

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data)
            if (data ['command'] === 'messages'){
                for (let i=0; i < data['messages'].length; i++){
                    createMessage(data['messages'][i])
                }
            }else if (data['command'] === 'new_message'){
                createMessage(data['message'])
            }
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        if(document.querySelector('#chat-message-input').focus()){
            chatSocket.send(JSON.stringify({'command':'is_typing'}))
            console.log("somethind is typing")
            } 
        // document.querySelector('#chat-message-input').focus()
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
                $("#show-my-messages").animate({ scrollTop: $('#show-my-messages').prop("scrollHeight")}, 1000);
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': message,
                'from': username
            }));
            messageInputDom.value = '';
            
        };

        function fetchMessages(){
            chatSocket.send(JSON.stringify({'command':'fetch_messages'}))
        }

        function createMessage(data){
            var author = data['author']
            var msgListTag = document.createElement('li')
            var pTag = document.createElement('p')
            var nameTag = document.createElement('h5')
            nameTag.textContent = author
            pTag.textContent = data.content

            if (author === username ){
                msgListTag.className = 'sent'
            }else{
                msgListTag.className = 'replies'
            }

            msgListTag.appendChild(nameTag)
            msgListTag.appendChild(pTag)
            document.getElementById('show-my-messages').appendChild(msgListTag)
            $("#show-my-messages").animate({ scrollTop: $('#show-my-messages').prop("scrollHeight")}, 1000);
            
        }

</script>
<!-- Modal -->
<div class="modal fade" id="addnewmembersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="add_new_members_section">
        {% include "blog/add_members.html" %}
      </div>
    </div>
  </div>
</div>

<!-- pending users -->
<!-- Modal -->
<div class="modal fade" id="pending_members_modal" tabindex="-1" role="dialog" aria-labelledby="pending_members_modal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pending_members_modal">Add new members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="add_pending_members_section">
        {% include "blog/add_pending_members.html" %}
      </div>
    </div>
  </div>
</div>
<!-- Modal your members-->
<div class="modal fade" id="members_in_room" tabindex="-1" role="dialog" aria-labelledby="members_in_room"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="members_in_room">Add new members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="add_pending_members_section">
          <ul class="list-group">
            {% for member in my_room_members %}
                <li class="list-group-item">
                    <img src="{{ member.profile.profile_pic.url }}" alt="" style="width:40px;height:40px;border-radius:50%;">
                    {% if member == request.user %}
                        <a class="ml-2 text-muted" href="{% url 'profile' member.username %}">{{ member.username }}</a>
                    {% else %}
                        <a class="ml-2 text-muted" href="{% url 'userprofilepost' member.username %}">{{ member.username }}</a>
                    {% endif %}
                </li>
            {% endfor %}
          </ul>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}

