
{% if tutorials.count > 0  %}
<ul id="search-results" class="list-group pt-2">
    {% for tutorial in tutorials %}
        <li class="list-group-item pt-1 d-flex">
            <img class="mr-2" src="{{ tutorial.user.profile.profile_pic.url }}" alt="" style="width:30px;height:30px;border-radius:50%;">
            <a class="text-muted" href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endif %}

{% if blogs.count > 0 %}
<ul id="search-results" class="list-group pt-2">
    {% for blog in blogs %}
    <li class="list-group-item pt-1 d-flex">
        <img class="mr-2" src="{{ blog.user.profile.profile_pic.url }}" alt="" style="width:30px;height:30px;border-radius:50%;">
        <a class="mt-1 text-muted" href="{{ blog.get_absolute_blog_post }}">{{ blog.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

