{% extends "blog/base_with_nav.html"%}
{% block title %}
{{ tutorial.title }}
{% endblock %}
{% block content %}
<div class="container mt-4">
    <br>
    <div class="my-tutorial-detail">
        <div class="tutorial-container">
            <h3 class="text-center mb-3 d-flex">
                {{ tutorial.title }}
            </h3>
            <div class="d-flex">
                <span class="text-muted">views {{ tutorial.views }}</span>
                <span class="text-muted ml-2">Posted on {{ tutorial.date_posted|date:"M D Y"}}</span>
            </div>
            <hr class="my-4">
            <br>
            <p>
                {{ tutorial.tutorial_content|safe  }}

            </p>
            <br>
            {% if tutorial.tutorial_author == request.user %}
            <a title="update your tutorial" href="{% url 'tutorial_update' tutorial.id %}" class="butt">Update</a>
            <a title="delete your tutorial" href="{% url 'tutorial_delete' tutorial.id %}" class="butt ml-3" style="background-color:red;">Delete</a>
            {% endif %}
            <br>
            <div id="like-section" class="ml-1">
                {% include "blog/like_section.html" %}
            </div>
        </div>
        <br>
        <div class="other-tutorials">
            <h3 class="text-center mb-3">Other tutorials</h3>
            <br>
            <ul class="other-tutorial-list list-group z-depth-1-half">
                {% for tt in tutorials %}
                    <li class="list-group-item">
                        <a class="text-muted" href="{{ tt.get_absolute_tutorial_url }}">
                            {{ tt.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
    
</div>
<br>
<br>
<br>
{% endblock %}