{% extends "blog/base_with_nav.html"%}
{% block title %}
Post tutorial
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
  <br>
  <h3 class="text-center mb-3">Teach us something new</h3>
  <br>
  <div class="my-tutorial-form">
      <div class="create-tutorial-form">
        <form method="post" id="theform" enctype="multipart/form-data" class="z-depth-1-half">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form|crispy}}
          </fieldset>
          <div class="form-group">
              <button id="tutorial_update_form_but" type="submit" class="butt">Post</button>
          </div>
        </form>
      </div>
  </div>
  <br>
</div>
<br>
<script>
  CKEDITOR.replace( 'mytutorialform',
    {
        entities: false,
        basicEntities: false,
        entities_greek: false,
        entities_latin: false,
        htmlDecodeOutput:true,
    }
   );
</script>

{% endblock %}