{% extends "blog/base_with_nav.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{ project.project_title }}
{% endblock %}
{% block content%}
    <br>
    <div class="tutorial-detail-main">
        <br>
        <div class="without-comment-like-button">
          {% if tutorial.image %}
          <div class="detail-tuto-image">
            <img src="{{ tutorial.image.url }}" alt="">
          </div>
          <br>
          {% endif %}
          <h1>{{ tutorial.title }}</h1>
          <br>
          <div class="tutorial-author">
            <img src="{{ tutorial.user.profile.profile_pic.url }}" alt="" style="width:60px;height:60px;border-radius:50%;">
            <div class="other-details">
              {% if tutorial.user == request.user %}
                <a href="{% url 'profile' tutorial.user.username %}">{{ tutorial.user.username}}</a>
              {% else %}
                <a href="{% url 'userprofilepost' tutorial.user.username %}">{{ tutorial.user.username}}</a>
              {% endif %}
             
              <br>
              <small class="text-muted">{{ tutorial.date_posted|date:"M, D Y"}}</small>
            </div>
          </div>
          <br>
          <span class="tuto-content">{{ tutorial.tutorial_content|safe }}</span>
          <br>
          <hr class="my-4">
        </div>
        <div id="like-helpful-section" >
             <div id="likes_section">
                {% include "blog/like_form.html" %}
            </div>
            <a class="ml-3" href="#" data-toggle="modal" data-target="#sideModalTR"><i class="fas fa-comment fa-2x"></i></a>
            <span class="text-muted ml-1 mt-2">{{ comments.count }}</span>
        </div>

    </div>
<br>

<!-- To change the direction of the modal animation change .right class -->
<div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-side modal-top-right" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Comments</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="comments_section">
          {% include "blog/comment_form.html" %}
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}

