{% extends "blog/base_with_nav.html"%}
{% block title %}
All Tutorials
{% endblock %}
{% load static %}
{% block content%}
<br>
<div class="container">
    <br>
    <div class="main-home-tutorials-container">
    <div class="tutorial-container">
      <!-- <h3 class="">Latest Projects And All</h3> -->
        {% for tutorial in tutorials %}
            <div class="tutorial-list">
              <div class="userimage-name">
                <img src="{{ tutorial.user.profile.profile_pic.url }}" alt="">
                <div class="other">
                  <span>{{ tutorial.user.username }}</span>
                  <br>
                    <a class="text-muted" href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a>
                    <br>
                    <span class="text-muted mr-2"><i class="fas fa-thumbs-up mr-2"></i>{{ tutorial.likes.count }}</span>  |
                    <span class="text-muted ml-2 mr-1"><i class="fas fa-eye"></i> {{ tutorial.views }}</span>  |
                    <span class="text-muted ml-2">last updated: {{ tutorial.date_posted|date:"M D d,Y" }}</span>
                </div>
              </div>
              <div class="tutorial-image">
                {% if tutorial.image %}
                  <img src="{{ tutorial.image.url }}" alt="">
                {% endif %}
              </div>
            </div>
        <hr class="my-4">
        {% endfor %}
        <br>
        <nav aria-label="Page navigation example">
              <ul class="pagination pagination-circle pg-blue pt-3">
                {% if tutorials.has_previous %}
                  <li class="page-item "><a href="?page=1" class="page-link">First</a></li>
                  <li class="page-item ">
                    <a class="page-link" href="?page={{ page_range.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% endif %}

                {% for c in tutorials.paginator.page_range %}
                  {% if tutorials.number == c %}
                    <li class="page-item active">
                      <a href="?page={{ c }}" class="page-link">{{ c }}</a>
                    </li>
                  {% elif c > tutorials.number|add:"-3" and c < tutorials.number|add:"-3" %}
                    {{ c }}
                  {% else %}
                    <li class="page-item"><a a href="?page={{ c }}" class="page-link">{{c }}</a></li>
                {% endif %}
              {% endfor %}

              {% if tutorials.has_next %}
                <li class="page-item">
                    <a href="?page={{ tutorials.next_page_number }}" class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li class="page-item"><a href="?page={{ tutorials.paginator.num_pages }}" class="page-link">Last</a></li>
              {% endif %}
              </ul>
            </nav>
    </div>
    <!-- users  -->
    <div class="users_to_follow">
      <h4>For you to follow</h4>
      {% for user in users %}
        <div class="user-container">
          <!-- user profile photo -->
          <img src="{{ user.profile.profile_pic.url }}" alt="">
          <div class="users-other-details">
            <a href="{% url 'userprofilepost' user.username %}">
              {{ user.username }}
              <br>
              <small class="text-muted">{{ user.profile.bio }}</small>
            </a>
          </div>
        </div>
        <br>
      {% endfor %}
      <br>
    </div>
    </div>
</div>
<br>
<br>
{% endblock %}