@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#is_active {
  background-color: seagreen;
}
.main-qs-tu-tabs {
  padding: 20px;
}
.latest-questions-section,
.most-answered_questions-sections,
.unaswered-questions-section,
.latest-tutorials-section,
.most-liked-tutorials-section,
.most-viewed-tutorials-section,
.locked-tutorials-section {
  ul {
    list-style-type: none;
    li {
      // color: #fff;
      .qt-items {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .qdetails {
          width: 100%;
          // background-color: rgba(0, 0, 0, 0.267);
          padding: 10px;
          border-radius: 10px;
          a{
            // color: #fff;
            font-weight: bold;
            font-size: 20px;
          }
          
        }
      }
    }
  }
}

// modal-notification-style
#notification_listModal{
  height: 200px;
  overflow: hidden;
  border-radius: 10px;

  .modal-body{
    #mynotification_container{
      .my_notification_list {
        ul{
          padding: 10px;
          list-style-type: none;
          
        }
      }
    }
  }
}

// main notification style
#notifications{
  ul{
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.267);
    a{
      color: #fff !important;
    }
  }
}
.want_to_learn_django{
  .django-teachers{
    border-radius: 20px;
    li{
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      
    }
  }
}

// tutorial detail
#tutocontent{
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.267);
}


.other-tutorial-list{
    list-style-type: none;
    padding: 10px;
  }
  .create-group-form, .create-question-form, .create-tutorial-form, .create-new-group-post-form, .note-to-all-members{
    form{
      border-radius: 20px;
      padding: 20px;
    }
  }

  p.full-group-description{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 20px;
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.latest-questions-section,
.most-answered_questions-sections,
.unaswered-questions-section,
.latest-tutorials-section,
.most-liked-tutorials-section,
.most-viewed-tutorials-section,
.locked-tutorials-section {
  ul {
    list-style-type: none;
    li {
      color: #fff;
      .qt-items {
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .qdetails {
          background-color: rgba(0, 0, 0, 0.267);
          padding: 10px;
          border-radius: 10px;
          a{
            color: #fff;
            font-weight: bold;
            font-size: 18px;
          }
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}
}
#mynav_bar_container{
  font-family: 'Lobster', cursive;
}

/* Small devices (portrait tablets and large p}hones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}