@import "./variables";

.myexplore-users{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));

  .explore-user-box{
    columns:1;
    padding: 20px;
    border-radius: 20px;
]

    // .user-profile-picture{
    //   width: 150px;
    //   height: 150px;
    // }
  }
}