@import "./variables";

form {
  .form-text {
    display: none;
  }
}
.home-main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;

  .with-connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    img{
      width: 100%;
      height: 400px;
    }
  }

  .with-connect-form {
    margin-top: 50px;
    padding: 20px;
    form {
      padding: 20px;
    }
    .social-logins {
      padding: 10px;
      a {
        font-weight: bold;
      }
      .google-signin {
        span.g {
          color: blue;
        }
        span.o {
          color: red;
        }
        span.o1 {
          color: yellow;
        }
        span.g1 {
          color: blue;
        }
        span.l {
          color: green;
        }
        span.e {
          color: red;
        }
      }
    }
  }
}

// media queries
@media(max-width: 500px){
  .home-main-container {
    .with-connect{
      display: none;
    }
    .with-connect-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
    }
  }
  
}


@media(max-width: 700px){
  .home-main-container {
    grid-column: span(3);
  }
  
}