@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#is_active {
  background-color: seagreen;
}
.section-a, .section-b{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;

}

.section-c{
  display: grid;
  grid-template-columns: minmax(150px, 65%) 1fr;
  gap:20px;
  .my-section{
    ul{
      li{
        .qt-items{
          display: flex;
          a{
            img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }

          .qdetails{
            p{
              color: black;
            }
          }
        }
      }
    }
  }
  .django-teachers-section{
    ul{
      li{
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}

// media queries

@media only screen and(max-width: 700px){
 .section-c{
  display: grid;
  grid-template-columns: 1fr;
  gap:1em;
  .my-section{
    padding: 20px;
    ul{
      li{
        .qt-items{
          display: flex;
          a{
            img{
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
          }

          .qdetails{
            p{
              color: black;
            }
          }
        }
      }
    }
  }
  .django-teachers-section{
    padding: 20px;
    h3{
      font-size: 20px;
    }
  }
 }
}



// modal-notification-style
#notification_listModal{
  height: 200px;
  overflow: hidden;
  border-radius: 10px;

  .modal-body{
    #mynotification_container{
      .my_notification_list {
        ul{
          padding: 10px;
          list-style-type: none;
          
        }
      }
    }
  }
}

// main notification style
.mynotifications{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .notifs{
        flex: 2;
        flex-basis: 50%;
        padding: 10px;
        ul{
            list-style-type: none;
            a{
                font-weight: bold;
                color: gray;
            }
        }
    }
}

// tutorial detail
#tutocontent{
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.267);
}


.other-tutorial-list{
    list-style-type: none;
    padding: 10px;
  }
  .create-group-form, .create-question-form, .create-tutorial-form, .create-new-group-post-form, .note-to-all-members{
    form{
      border-radius: 20px;
      padding: 20px;
    }
  }

  p.full-group-description{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 20px;
  }


// question detail
.qdetail-section{
    display: flex;
    gap: 20px;
    flex-flow:row  wrap;

    .qsection-a{
        flex: 2;
        width: 100%;
        justify-content: center;
        padding: 20px;
        .question-header-with-image{
            h4{
                font-weight: bold;
            }
        }
        p{
            width: 100%;
        }
        .main-answer-section{
            .answers-section{
                .userpicandname{
                    display: flex;
                    img{
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                    }
                    .who-answered{
                      color: #fff;
                      padding: 10px;
                      width: 100%;
                      overflow: hidden;
                      background-color: rgba(0, 0, 0, 0.267);
                      a{
                          font-weight: bold;
                      }
                      
                    }
                }
            }
        }
    }
    .other-questions{
        // flex: 1;
        padding: 20px;
    }
}


// tutorial detail
.my-tutorial-detail{
    display: flex;
    gap: 20px;
    flex-flow:row  wrap;

    .tutorial-container{
        flex: 2;
        width: 100%;
        padding: 20px;
        p{
            background-color: rgba(0, 0, 0, 0.267);
            padding: 10px;
        }
    }
    .other-tutorials{
        padding: 20px;
    }
}

// question and tutorial forms
.my-tutorial-form, .my-question-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .create-tutorial-form,.create-question-form{
        width: 50%;
        flex: 2;
    }
}