.main-home-tutorials-container {
  display: grid;
  grid-template-columns: 75% auto;
  // display: flex;
  // flex-wrap: wrap;
  gap: 1.5rem;
  padding: 20px;

  .tutorial-container {
    columns: 600px 2;
    margin: 5px;
    .tutorial-list {
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;

      .userimage-name {
        flex: 2;
        display: flex;
        gap: 1rem;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .other {
          span {
            font-weight: bold;
            text-transform: capitalize;
          }
          a {
            font-size: 25px;
            font-weight: bold;
          }
        }
      }
      .tutorial-image {
        flex: 1;
        img {
          width: 100%;
          height: 124.27px;
        }
      }
    }
  }

  // user container
  .users_to_follow {
    columns: 150px 1;
    flex-wrap: wrap;
    .user-container {
      display: flex;
      gap: 1rem;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .users-other-details {
        a {
          color: #000;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .main-home-tutorials-container {
    display: grid;
    grid-template-columns: 1fr;
    .tutorial-container {
      flex: 1;
      .tutorial-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .userimage-name {
          .other {
            span {
              font-size: 12px;
            }
            a {
              font-size: 18px;
            }
          }
        }
        .tutorial-image {
          flex: 1;
          img {
            width: 100%;
            // height: 300px;
          }
        }
      }
    }
  }
}

// tutorial detail
.tutorial-detail-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .without-comment-like-button {
    // justify-content: center;
    display: grid;
    place-items: center;
    padding: 20px;
    max-width: 680px;
    h1 {
      padding: 10px;
    }
    .detail-tuto-image {
      img {
        width: 100%;
        height: 339.59;
      }
    }

    .tutorial-author {
      display: flex;
      gap: 1rem;
      justify-self: start;
      // padding: 10px;
      .other-details {
        a {
          text-transform: capitalize;
          font-weight: bold;
          color: #000;
        }
      }
    }
    .old-tobe-improved{

      span.tuto-content {
        font-size: 21px;
        line-height: 1.5;
        letter-spacing: -0.003em;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-style: italic;
      }
      .need-improvement{
        padding: 10px;
        border: solid 2px red;
        border-radius: 10px;
      }
      .de-change{
        padding: 10px;
        border: solid 2px green;
        border-radius: 10px;
      }
    }

    // suggested improvements
    .for-suggested-improvements{
      ul{
        list-style-type: none;
        li{
          display: flex;
          gap: 1rem;
          img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
          a{
            font-weight: bold;
          }
        }

      }
    }
  }

  #like-helpful-section {
    position: fixed;
    top: 300px;
    left: 100px;
    .some-button {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .fa-edit,
      .fa-comment {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .tutorial-detail-main {
    .without-comment-like-button {
      h1 {
        font-size: 25px;
        padding: 10px;
      }

      span.tuto-content {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: -0.003em;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-style: italic;
      }
    }
  }
}

blockquote {
  display: flex;
  gap: 1rem;
}

// tutorial form
.tutorial-form-container,
.blog-form-container, .contact-form-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .tutorial-form-container,
  .blog-form-container, .contact-form-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      width: 100%;
    }
  }
}

.sticky {
  position: fixed;
  top: 200px;
  left: 80px;
}

.modal-body {
  overflow: hidden;
  .comment-section {
    overflow-x: hidden;
    overflow: scroll;
    padding: 10px;
    height: 370px;
  }
  // 
}
