.main-home-tutorials-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% auto;
      grid-template-columns: 75% auto;
  gap: 1.5rem;
  padding: 20px;
}

.main-home-tutorials-container .tutorial-container {
  -webkit-columns: 600px 2;
          columns: 600px 2;
  margin: 5px;
}

.main-home-tutorials-container .tutorial-container .tutorial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-home-tutorials-container .tutorial-container .tutorial-list .userimage-name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.main-home-tutorials-container .tutorial-container .tutorial-list .userimage-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-home-tutorials-container .tutorial-container .tutorial-list .userimage-name .other span {
  font-weight: bold;
  text-transform: capitalize;
}

.main-home-tutorials-container .tutorial-container .tutorial-list .userimage-name .other a {
  font-size: 25px;
  font-weight: bold;
}

.main-home-tutorials-container .tutorial-container .tutorial-list .tutorial-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-home-tutorials-container .tutorial-container .tutorial-list .tutorial-image img {
  width: 100%;
  height: 124.27px;
}

.main-home-tutorials-container .users_to_follow {
  -webkit-columns: 150px 1;
          columns: 150px 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-home-tutorials-container .users_to_follow .user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.main-home-tutorials-container .users_to_follow .user-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.main-home-tutorials-container .users_to_follow .user-container .users-other-details a {
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}

@media (max-width: 500px) {
  .main-home-tutorials-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main-home-tutorials-container .tutorial-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main-home-tutorials-container .tutorial-container .tutorial-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-home-tutorials-container .tutorial-container .tutorial-list .userimage-name .other span {
    font-size: 12px;
  }
  .main-home-tutorials-container .tutorial-container .tutorial-list .userimage-name .other a {
    font-size: 18px;
  }
  .main-home-tutorials-container .tutorial-container .tutorial-list .tutorial-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main-home-tutorials-container .tutorial-container .tutorial-list .tutorial-image img {
    width: 100%;
  }
}

.tutorial-detail-main {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.tutorial-detail-main .without-comment-like-button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 20px;
  max-width: 680px;
}

.tutorial-detail-main .without-comment-like-button h1 {
  padding: 10px;
}

.tutorial-detail-main .without-comment-like-button .detail-tuto-image img {
  width: 100%;
  height: 339.59;
}

.tutorial-detail-main .without-comment-like-button .tutorial-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  justify-self: start;
}

.tutorial-detail-main .without-comment-like-button .tutorial-author .other-details a {
  text-transform: capitalize;
  font-weight: bold;
  color: #000;
}

.tutorial-detail-main .without-comment-like-button .old-tobe-improved span.tuto-content {
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: -0.003em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.tutorial-detail-main .without-comment-like-button .old-tobe-improved .need-improvement {
  padding: 10px;
  border: solid 2px red;
  border-radius: 10px;
}

.tutorial-detail-main .without-comment-like-button .old-tobe-improved .de-change {
  padding: 10px;
  border: solid 2px green;
  border-radius: 10px;
}

.tutorial-detail-main .without-comment-like-button .for-suggested-improvements ul {
  list-style-type: none;
}

.tutorial-detail-main .without-comment-like-button .for-suggested-improvements ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.tutorial-detail-main .without-comment-like-button .for-suggested-improvements ul li img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.tutorial-detail-main .without-comment-like-button .for-suggested-improvements ul li a {
  font-weight: bold;
}

.tutorial-detail-main #like-helpful-section {
  position: fixed;
  top: 300px;
  left: 100px;
}

.tutorial-detail-main #like-helpful-section .some-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.tutorial-detail-main #like-helpful-section .some-button .fa-edit,
.tutorial-detail-main #like-helpful-section .some-button .fa-comment {
  font-size: 20px;
}

@media (max-width: 500px) {
  .tutorial-detail-main .without-comment-like-button h1 {
    font-size: 25px;
    padding: 10px;
  }
  .tutorial-detail-main .without-comment-like-button span.tuto-content {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.003em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
  }
}

blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.tutorial-form-container,
.blog-form-container, .contact-form-box {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tutorial-form-container form,
.blog-form-container form, .contact-form-box form {
  width: 50%;
}

@media (max-width: 500px) {
  .tutorial-form-container,
  .blog-form-container, .contact-form-box {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tutorial-form-container form,
  .blog-form-container form, .contact-form-box form {
    width: 100%;
  }
}

.sticky {
  position: fixed;
  top: 200px;
  left: 80px;
}

.modal-body {
  overflow: hidden;
}

.modal-body .comment-section {
  overflow-x: hidden;
  overflow: scroll;
  padding: 10px;
  height: 370px;
}
/*# sourceMappingURL=tutorials.css.map */