.main-home-tutorials-container {
  display: grid;
  grid-template-columns: 75% auto;
  // display: flex;
  // flex-wrap: wrap;
  gap: 1.5rem;
  padding: 20px;

  hr {
    border: solid 1px silver;
    width: 100%;
  }

  .tutorial-container {
    columns: 600px 2;
    margin: 5px;
    .tutorial-list {
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;

      .userimage-name {
        flex: 2;
        display: flex;
        gap: 1rem;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .other {
          span {
            // font-weight: bold;
            text-transform: capitalize;
          }
          a {
            font-size: 20px;
            // font-weight: bold;
          }
        }
      }
      .tutorial-image {
        flex: 1;
        img {
          width: 100%;
          height: 124.27px;
        }
      }
    }
  }

  // user container
  .users_to_follow {
    columns: 150px 1;
    flex-wrap: wrap;
    .user-container {
      display: flex;
      gap: 1rem;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .users-other-details {
        a {
          color: #000;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .main-home-tutorials-container {
    display: grid;
    grid-template-columns: 1fr;
    .tutorial-container {
      flex: 1;
      .tutorial-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .userimage-name {
          .other {
            span {
              font-size: 12px;
            }
            a {
              font-size: 18px;
            }
          }
        }
        .tutorial-image {
          flex: 1;
          img {
            width: 100%;
            // height: 300px;
          }
        }
      }
    }
  }
}



blockquote {
  display: flex;
  gap: 1rem;
}

// tutorial form
.tutorial-form-container,
.blog-form-container,
.contact-form-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .tutorial-form-container,
  .blog-form-container,
  .contact-form-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      width: 100%;
    }
  }
}

.sticky {
  position: fixed;
  top: 200px;
  left: 80px;
}

.modal-body {
  overflow: hidden;
  .comment-section {
    overflow-x: hidden;
    overflow: scroll;
    padding: 10px;
    height: 370px;
  }
  //
}
