
<ul class="list-group">
    {% for user in users %}
        {% if user in pending_list %}
            <li class="list-group-item d-flex d-flex justify-content-between">
                <a  href="{% url 'userprofilepost' user.username %}">
                <img style="width:30px;height:30px;border-radius:50%;" class="mr-2 z-depth-1-half" src="{{ user.profile.profile_pic.url }}" alt="">
                <span class="mt-2 text-muted">
                    {{ user.username }}
                </span>
                </a>
                <form action="{% url 'add_pending_members' user.id %}" id="add_pending_members_form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <button class="butt" id="add_pending_member_button" type="submit" value="{{ user.id }}">Add</button>
                    </div>
                </form>
            </li>
        {% endif %}
    {% empty %}
    <li class="list-group-item text-center">No pending members available</li>
    {% endfor %}
</ul>