{% extends "blog/base_with_nav.html"%}
{% block title %}
All Groups
{% endblock %}
{% block content%}
<div class="container mt-3">
    <br>
    <h3 class="text-center mb-2 mt-3">Groups for you to join </h3>
    <br>
    {% if can_create_group %}
      <a class="butt" href="{% url 'group-create' %}" title="Create new group">Create Group</a>
    {% endif %}
    <div class="allgroups-container">
     {% for group in groups %}
      <div class="the-group-box">
        <div class="group-poster">
          <img class="" src="{{ group.logo.url }}" alt="group logo">
        </div>
        <br>
        <div class="the-group-name">
          <a href="{{ group.get_absolute_group_url }}" class="butt mt-3" >{{ group.group_name }}</a>
          <br>
        </div>
        <br>
        <div class="d-flex">
          <span class="ml-3 mt-1" title="total member in group">
            <i class="fas fa-users mr-2"></i> {{ group.members.count }}
        </span>
          <span class="ml-3 mt-1" title="total member in group">
            <i class="fas fa-eye mr-1"></i> {{ group.views }}
        </span>
        </div>
      </div>
     {% endfor %}
    </div>   
    <br>
</div>
<br>
<br>
{% endblock %}


