{% extends "blog/base_with_nav.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}
<div class="container mt-3">
    <br>
    <h3 class="text-center mb-3">Create New Group</h3>
    <h6 class="text-center"><span class="badge bg-danger mr-2">Note:</span>You can only create one group</h6>
    <br>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 ml-auto mr-auto">
            <div class="create-group-form">
                <form enctype="multipart/form-data" method="POST" class="z-depth-1-half">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form|crispy }}
                    </div>
                    <div class="form-group">
                        <button class="butt" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}