{% extends "blog/base.html" %}
{% block title %}
Login-Home
{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container mt">
  <div class="home-main-container">
      <div class="with-connect">
          <h3 class="text-center">Connect django</h3>
          <p class="animated bounce text-center">Let's talk django </p>
          <img src="{% static 'blog/images/11.png' %}" alt="" style="width:30px;height:30px;">
      </div> 
      <div class="with-connect-form">
          <div class="z-depth-1-half">
              <form method="post">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    {{ form|crispy}}
                  </fieldset>
                  <div class="form-group">
                    <button type="submit" class="butt">Login</button>
                    <small>
                      <a class="ml-2" href="{% url 'password_reset' %}">Forgot Password?</a>
                    </small>
                  </div>
                  <hr class="my-4">
                  <a class="butt" href="{% url 'register' %}">Create New Account</a>
                  <span class="ml-2">OR <i class="far fa-hand-point-down "></i></span>
                  <div class="social-logins">
                    <a href="{% url 'social:begin' 'google-oauth2'%}" class="google-signin">
                      
                      <span class="g">G</span>
                      <span class="o">o</span>
                      <span class="o1">o</span>
                      <span class="g1">g</span>
                      <span class="l">l</span>
                      <span class="e">e</span>
                    </a>

                    <a class="ml-2" href="{% url 'social:begin' 'github'%}" class="github-signin" style="color: black;">Github<i class="fab fa-github ml-2"></i></a>
                  </div>
              </form>
          </div>
          <br>
      </div>
  </div>
</div>

{% endblock %}