{% extends 'blog/base.html' %}
{% block title %}
Confirm reset password
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row pt-4">
  <div class="col-xs-6 col-sm-6 col-md-6 mr-auto ml-auto">
    <div class="box pt-4">
      <form method="post" id="theform">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-3">Reset Password</legend>

          {{ form|crispy}}

        </fieldset>
        <div class="form-group">
          <button class="butt" type="submit">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

<br>
{% endblock %}
