{% load static %}
<div class="profile-header" id="update_profile_details">
    <div class="jumbotron text-center hoverable p-4 profile-header-back" style="background-image:url('{{ user.profile.cover_pic.url }}');background-repeat:no-repeat;background-size:cover;background-position:center;">
        <div class="row">
          <div class="col-md-6  mr-auto pt-5">
            <div class="view overlay" style="width: 150px;
            height: 150px;
            border-radius: 50%;float: left;">
              <img src="{{ user.profile.profile_pic.url }}" class="img-fluid" alt="authors profile">
            </div>
            <div class="details">
                <h4>{{ user.username }} <span></span></h4>
                <p>{{ user.email }}</p>
                <p>{{ user.profile.bio }}</p>
                <a href="">{{ logged_in_user_posts.profile.follows }}</a>
                <ul>
                  {% if user.profile.your_facebook %}
                    <li>
                        <a class="fb-ic" href="{{ user.profile.your_facebook }}" target="blank">
                            <img src="{% static 'etblog/images/facebook.png' %}" alt="" class="face mr-md-4 mr-3 ">
                        </a>
                    </li>
                  {% endif %}
                  {% if user.profile.your_instagram %}
                    <li>
                      <!-- instagram +-->
                      <a class="ins-ic" href="{{ user.profile.your_instagram }}" target="blank">
                          <img src="{% static 'etblog/images/instagram.png' %}" alt="" class="face mr-md-4 mr-3 ">
                      </a>
                    </li>
                  {% endif %}
                  {% if user.profile.your_twitter %}
                    <li>
                      <!--twitter -->
                      <a class="ins-ic" href="{{ user.profile.your_twitter}}" target="blank">
                          <img src="{% static 'etblog/images/twitter.png' %}" alt="" class="face mr-md-4 mr-3 ">
                      </a>
                    </li>
                  {% endif %}
                  {% if user.profile.your_youtube %}
                    <li>
                      <!--youtuve-->
                      <a class="ins-ic" href="{{ user.profile.your_youtube}}" target="blank">
                          <img src="{% static 'etblog/images/youtube.png' %}" alt="" class="face mr-md-4 mr-3 ">
                      </a>
                    </li>
                  {% endif %}
                  {% if user.profile.your_soundcloud %}
                    <li>
                      <!--soundcloud-->
                      <a class="ins-ic" href="{{ user.profile.your_soundcloud }}" target="blank">
                          <img src="{% static 'etblog/images/soundcloud.png' %}" alt="" class="face mr-md-4 mr-3 ">
                      </a>
                    </li>
                  {% endif %}
                </ul>
            </div>
          </div>
        </div>
      </div>
</div>