{% load crispy_forms_tags %}
<div class="container">
    <div class="row mb-3">
      <div class="col-xs-6 col-sm-6 col-md-6 ml-auto mr-auto mb-3">
        <table class="table">
          <tbody>
            {% for user in followers.all %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>
                <a href="{%  url 'userprofilepost' user.username %}" class="mr-4">
                  <div>
                    <img class="z-depth-1-half mr-3" src="{{ user.profile.profile_pic.url }}" alt="" style="width: 30px;height: 30px;border-radius: 50%;">
                  <span class="text-muted">{{ user.username }} </span>
                  </div>
                </a>
              </td>
              <td>
                <form action="{% url 'profile_connection_followers' user.id %}" method="POST" id="profile_connection_followers_form">
                  {% csrf_token %}
                  {% if user in following %}
                      <button type="submit" class="butt" id="profile_connection_followers_butt" value="{{ user.id }}">Following</button>
                    {% elif user in followers.all and not request.user in user.profile.followers.all %}
                      <button type="submit" class="butt" id="profile_connection_followers_butt" value="{{ user.id }}">Follow Back</button>
                  {% else %}
                      <button type="submit" class="butt" id="profile_connection_followers_butt" value="{{ user.id }}">Follow</button>
                  {% endif %}
              </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
