{% extends "blog/base.html" %}
{% block title %}
Create new account
{% endblock %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-3">
    <div class="home-main-container">
      <div class="with-connect">
        <h3 class="text-center">Connect django</h3>
        <p class="animated bounce text-center">Let's talk django </p>
        <img src="{% static 'blog/images/11.png' %}" alt="" style="width:30px;height:30px;">
      </div> 
        <div class="with-connect-form">
            <div class="z-depth-1-half">
              <form method="post" >
                {% csrf_token %}
                <div class="form-group">
                  {{ form|crispy }}
                </div>
                <div class="form-group">
                  <button type="submit" class="butt">Register</button>
                </div>
                <hr class="my-4">
                <small>Already have an account?<a class="ml-2 butt" href="{% url 'login' %}">Login</a>
                </small>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}