{% load crispy_forms_tags %}
<div class="d-flex">
    <form action="{% url 'connection' id=deuser.id %}" method="POST" id="connection_form">
    {% csrf_token %}
    {% if deuser in following.all %}
        <button title="Unfollow {{ deuser }}" type="submit" class="butt" id="connection_butt" value="{{ deuser.id }}">Following</button>
    {% elif deuser in followers.all and not request.user in deuser.defollwers.all %}
        <button title="Unfollow {{ deuser }}" type="submit" class="butt" id="connection_butt" value="{{ deuser.id }}">Follow Back</button>
    {% else %}
        <button title="Follow {{ deuser }}" type="submit" class="butt" id="connection_butt" value="{{ deuser.id }}">Follow</button>
    {% endif %}
</form>

</div>

<br>
<div class="span d-flex">
    <a class="text-muted mr-2" href="{% url 'deuser_followers' deuser.username %}"><i class="fas fa-users"></i> {{ dfs_count }} followers</a> |
    <a class="text-muted ml-2" href="{% url 'deuser_followings' deuser.username %}"><i class="fas fa-users"></i> {{ df_count }} following</a>
</div>
